
	
	<!-- Navigation -->
    <nav class="navbar  navbar-fixed-top navbar-custom" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
             <button type="button"  class="navbar-toggle" data-toggle="collapse" 
                data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url "posts:Home" %}">Django Blog</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{% url "posts:about" %}">About</a>
                    </li>
                    <li>
                        <a href="{% url "posts:contact" %}">Contact</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li>
                        <a href="{% url "posts:create" %}">Create</a>
                        </li>
                    {% endif %}
                </ul>
                {% if user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                      <li><a><span class="glyphicon glyphicon-user"></span>&nbsp;<small>Hi, {{ user.username }}</small></a></li>
                      <li><a href="{% url "logout" %}"><small>Logout</small></a></li>
                {% else %}
                <ul class="nav navbar-nav navbar-right">
                  
                  <li><a href="{% url "login" %}">Login</a></li>
                  
                </ul>
            {% endif %}
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
