{% extends "base.html" %}
{% load staticfiles %}
{% load social_share %}

{% block style %}
	{{ block.super }}
	<!-- Custom CSS -->
	<link rel='stylesheet' href='{% static "css/post-detail.css" %}'/>
{% endblock style %}

{% block head_title %}
	{{ instance.title }}| {{block.super}}
{% endblock head_title %}

{% block content %}
	{% block header %}
		 <!-- Page Header -->
		
	    <!-- Set your background image for this header on the line below. -->
	    <header class="intro-header background-image" style="background-image:  linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0, 0, 0.5)),
	    {% if instance.image %}
	        url('{{instance.image.url}}');
	     {% else %}
	     	 url(' {% static "images/footer_lodyas.png" %}');
	     {% endif %}">
	        <div class="container">
	            <div class="row">
	                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
	                    <div class="post-heading">
	                        <h1>{{ instance.title }}</h1>
	                        <h2 class="subheading">{{instance.description }}</h2>
	                        <span class="meta">Posted by <a href="#">{% if instance.author.get_full_name%}{{instance.author.get_full_name}}{% endif %}</a> on {{instance.publish}}</span>
		                </div>
	                </div>
	            </div>
	        </div>
	    </header>
	{% endblock header %}
			   <!-- Post Content -->
	{% block article %}
	    <article>
	        <div class="container">
	            <div class="row">
	                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 marked-content">
					
							{{instance.get_marked_content}}<br/>
							<!-- <a href="{% url "posts:Home" %}">Back</a> -->

					</div>
				</div>
			</div>
		</article>
		<!-- <div class='col-sm-6 col-sm-offset-3'>
		{% post_to_facebook instance.get_absolute_url "Post to Facebook!" %}
		{% post_to_gplus  instance "Post to Google+!" %}
		{% post_to_twitter "New Post: {{instance.title}}. Check it out!" object_or_url "Post to Twitter" %}
		</div> -->
	{% endblock article %}
		

{% endblock content %}
	



     {% block footer %}
        {% include "footer.html" %}
     {% endblock footer %}
	
	     {% block backtotop %}
	    <!-- <div class="top">
	     <a href="#"><i class="fa fa-chevron-circle-up" aria-hidden="true"></i></a>
	     </div> -->
	     {% include "backtop.html" %}
	 {% endblock backtotop%}

